## Database
DATABASE_URL="mysql://<username>:<password>@<host>/<database>?charset=utf8mb4"

## Authentication
AUTH_SECRET="<your_auth_secret>" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_DISCORD_ID="<your_discord_id>"
AUTH_DISCORD_SECRET="<your_discord_secret>"

## API Backend
API_URL="<your_api_url>"
API_KEY="<your_api_key>"